html, body {
  height : 100%; width: 100%;
  margin : 0;
  color: #CCC;
  overflow: hidden;
  cursor : default;
  font-family: Arial;
  font-size: 11px;
  line-height: 1.1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
background: #1D1D1D;
}
.gif-example{
  position: absolute;
  left: 20%;
  top: 20%;
}
.about-author {
  position: fixed;
  left: 0; bottom: 0;
  background: gold;
  color: #1D1D1D;
  width: 100%;
 }
.task-name {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16pt;
  color: #888;
  text-shadow: 0 -1px 0 #000;
}

.header-wrap {
  z-index: 1;
  position: relative;
  font-size: 12pt;
}
.screen{
margin-top: 50px;
border: 4px ridge gold;
width: 99%;
}
.appview{
  width: 60%;
  height: 60%;
}

.implemented{
  float: right;
  margin: 10px;
  position: absolute;
  left: 70%;
  top: 10%;
}

.implemented-list{
  border: 2px ridge gold;
  font-size: 1.5rem;
  color: whitesmoke;
  list-style-type: square;
}
.contacts{
  margin-top: 20px;
}

.button {
	position: fixed;
	text-align: center;
	font-size: 2rem;
	width: 35vh;
	height: 10vh;
	margin-top: 20px;
	margin-left: 30%;

	border-radius: 30px;
	box-shadow:
		0px 0px 0px 15px gold,
		0px 10px 0px 15px goldenrod,
		0px 20px 20px 15px #0003;
	cursor: pointer;
	border-radius: 100px 30px 100px 30px;

}

.appLink {
  text-decoration: none;
  color: black;
	margin-top: 20px;
}

.button:hover {
	animation: .8s morph ease infinite;
}

@keyframes morph {
	0% {
		border-radius: 100px 30px 100px 30px;
	} 50% {
		border-radius: 30px 100px 30px 100px;
	} 100% {
		border-radius: 100px 30px 100px 30px;
	}
}